@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header section */
.first-block {
    background-color: #1F2937;
    padding: 1em 16em;
}

/* Navigation bar section */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 4em;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2em;
    align-self: center;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1em;
    color: #E5E7EB;
}

/* Hero section */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-bottom: 4em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1em;
}

.hero-header {
    color: #F9FAF8;
    font-size: 3em;
    font-weight: 900;
}

.hero-subtext {
    font-size: 1em;
    color: #E5E7EB;
}

.hero-button {
    border: none;
    border-radius: 0.5em;
    padding: 1em 4em;
    background-color: #3882F6;
    color: #E5E7EB;
}

.hero-image {
    background-color: #808080;
    flex-shrink: 0;
    flex-basis: 50%;
    align-self: stretch;
    /* Making the img flex and centering it to center alt text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling only alt attribute that has the entire phrase on it */
img[alt~="this is a placeholder for an image"] {
    color: white;
}

/* Main section */
/* Information section */
.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 18em;
}

.information-header {
    font-size: 2em;
    font-weight: 900;
    color: #1F2937;
}

.information-subtext {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 1em;
}

.information-image-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.information-image {
    border: 1px solid blue;
    border-radius: 0.5em;
    height: 10em;
    width: 10em;
    align-self: center;
    /* Making the img flex and centering it to center alt text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quote section */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 2em 18em;
    gap: 0.5em;
}

.quote-container em, .quote-container p {
    font-size: 2em;
}

.quote-container p {
    align-self: flex-end;
}

/* Action section */
.action-container {
    display: flex;
    justify-content: center;
    padding: 4em 16em;
}

.action-content {
    background-color: #3882F6;
    display: flex;
    padding: 2em 4em;
    justify-content: space-between;
    border-radius: 1em;
    gap: 3em;
    flex: 1;
}

.action-content h3{
    color: #F9FAF8;
    font-size: 2em;
    font-weight: 900;
}

.action-content p {
    color: #E5E7EB;
    font-size: 1em;
}

.action-content button {
    align-self: center;
    border-radius: 0.5em;
    padding: 1em 3em;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    font-size: 1em;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 16px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
}