*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero, .navbar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 48px 16px;
}

.main, .logo{
    color: #F9FAF8;
}

.main{
    font-size: 48px;
    font-weight: 900;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.content, .subtext{
    text-align: center;
    padding: 16px 16px 24px 16px;
}

.subtext{
    display: flex;
    justify-content: center;
}

.information{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 48px 64px;
}

.signature{
    align-self: flex-end;
}

.action, button{
    background-color: #3882F6;
}

.action{
    display: flex;
    padding: 16px 16px 24px 16px;
    justify-content: center;
    gap: 72px;
}