@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header section */
.first-block {
    background-color: #1F2937;
    padding: 1em 16em;
}

/* Navigation bar section */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 4em;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2em;
    align-self: center;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1em;
    color: #E5E7EB;
}

/* Hero section */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-bottom: 4em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1em;
}

.hero-header {
    color: #F9FAF8;
    font-size: 3em;
    font-weight: 900;
}

.hero-subtext {
    font-size: 1em;
    color: #E5E7EB;
}

.hero-button {
    border: none;
    border-radius: 0.5em;
    padding: 1em 4em;
    background-color: #3882F6;
    color: #E5E7EB;
}

.hero-image {
    background-color: #808080;
    flex-shrink: 0;
    flex-basis: 50%;
    align-self: stretch;
    /* Making the img flex and centering it to center alt text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling all alt attribute that has "placeholder" on it */
img[alt*="placeholder"] {
    color: white;
}

/* Main section */
.content {
    display: flex;
    justify-content: center;
}

.information-content {
    flex-basis: 1024px;
}

.information-content,
.subtext {
    text-align: center;
    padding: 16px 16px 24px 16px;
}

.subtext {
    display: flex;
    justify-content: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 48px 64px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    flex-basis: 1024px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-content .signature {
    align-self: flex-end;
}

.action-content {
    background-color: #3882F6;
}

.action {
    display: flex;
    padding: 64px 16px;
    justify-content: center;
}

.action-content {
    display: flex;
    padding: 36px 192px;
    justify-content: space-between;
    flex-basis: 1024px;
    border-radius: 12px;
    gap: 64px;
}

.action-content button {
    align-self: center;
    flex-basis: 128px;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 16px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
}